html, body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  color: #2a2a2a;
  font-family: sans-serif;
}

code,
pre {
  font-size: 0.85rem;
}

table {
  border-collapse: collapse;
  border: 1px solid #cfcfcf;
}

th {
  font-weight: 600;
}

td,
th {
  padding: 0.2em 0.4em;
  border: 1px solid #cfcfcf;
}

thead tr,
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

thead tr:hover,
tbody tr:hover {
  background-color: #cfcfcf;
}

.nb-notebook {
  max-width: 45rem;
  margin: 1rem auto;
  padding: 3rem 6rem;
  background-color: white;
  box-shadow: 4px 4px 8px #cfcfcf, -4px -4px 8px #cfcfcf;
}

.nb-output table {
  font-size: 0.9em;
}

@media (max-width: 900px) {
  .nb-notebook {
    margin: 0;
    padding-left: 5rem;
    padding-right: 3rem;
    max-width: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .nb-notebook {
    padding: 1rem 5% 2rem 5%;
  }
}
