html, body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  color: #2a2a2a;
  font-family: sans-serif;
}

code,
pre {
  font-size: 0.85rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.6em;
  position: relative;
}

h1 .anchor,
h2 .anchor,
h3 .anchor,
h4 .anchor,
h5 .anchor,
h6 .anchor {
  display: block;
  width: 1em;
  left: -1em;
  height: 100%;
  position: absolute;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cg fill='none' stroke='%23000' stroke-width='3'%3E%3Cpath d='M26.1 22a5.8 5.8 0 00-8.1 0l-9.6 9.5a5.8 5.8 0 008.2 8.2l5.8-5.9'/%3E%3Cpath d='M23.6 28a5.8 5.8 0 008.2 0l9.5-9.5a5.8 5.8 0 00-8.1-8.2l-5.8 5.9'/%3E%3C/g%3E%3C/svg%3E") no-repeat 100% center;
}

table {
  border-collapse: collapse;
  border: 1px solid #cfcfcf;
}

th {
  font-weight: 600;
}

td,
th {
  padding: 0.2em 0.4em;
  border: 1px solid #cfcfcf;
}

thead tr,
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

thead tr:hover,
tbody tr:hover {
  background-color: #cfcfcf;
}

.nb-notebook {
  max-width: 45rem;
  margin: 1rem auto;
  padding: 3rem 6rem;
  background-color: white;
  box-shadow: 4px 4px 8px #cfcfcf, -4px -4px 8px #cfcfcf;
}

.nb-output table {
  font-size: 0.9em;
}

@media (max-width: 900px) {
  .nb-notebook {
    margin: 0;
    padding-left: 5rem;
    padding-right: 3rem;
    max-width: none;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .nb-notebook {
    padding: 1rem 5% 2rem 5%;
  }
}
