html, body {
  margin: 0;
  padding: 0;
}

.nb-notebook {
  max-width: 45rem;
  margin: 0 auto;
  padding: 3rem 6rem;
  background-color: white;
}

@media (max-width: 900px) {
  .nb-notebook {
    padding-left: 5rem;
    padding-right: 3rem;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .nb-notebook {
    padding: 1rem 5% 2rem 5%;
  }
}
